.a1{
    font-size: 50px;
    color: #2690b9;
    position: absolute;
    padding-top: 2%;
    font-weight: bold;

}
.a2{
    margin-left: 20%;
}
.a3{
    margin-top: 15%;
}
.form-group{
    color: #2690b9;
    font-size: 20px;
}
